<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.PolicyAgent"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.agent.UpcomingPaymentPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.PaymentDuePolicyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.UpcomingExpiredActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.ExpiredActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.AgentEditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.ClientDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.EditClientActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.AddClientActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.ClientListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.client.EditPolicyFormActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.AgentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.EditCarInsuranceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.EditWcInsuranceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.EditFireInsuranceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.EditHealthInsuranceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.EditLifeInsuranceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.AddFireInsuranceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.AddWcInsuranceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.AddCarInsuranceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.AddHealthInsuranceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.FireInsuranceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.WcInsuranceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.HealthInsuranceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.LifeInsuranceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.CarInsuranceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.WcInsuranceListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.FireInsuranceListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.CarInsuranceListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.HealthInsuranceListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.LifeInsuranceListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.client.AddPolicyFormActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.client.AddNewPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.client.YearlyPremiumActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.client.ClientEditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.AddLifeInsuranceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.agent.PolicyTypeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.client.PremiumCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.client.MyInsurancePortfolioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.client.ClientDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LoginSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CreateNewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ConfirmOtpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>